body {
    padding: 30px;
}

/*Classes*/

.input {
    border-radius: 10px;
    border: 10px;
}

/*Listing*/
.listing {
    display: flex;
    border-style: solid;
}

.listing-image {
    width: auto;
}

.listing-info{
    display: flex;
    flex-direction: column;
}

/*New listing*/
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-item {
    margin: 1.3rem;
    background-color: blueviolet;
}
