{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings%}
        <div class="listing">
            <div>
                <img class="listing-image" src="{{ listing.imageURL }}" alt="listing_image">
            </div>
            <div class="listing-info">
                <a href="#"><h1>{{ listing.title }}</h1></a>
                <p><strong>Price:</strong>{{ listing.highestBid}}</p>
                <p>{{ listing.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}