{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}
    <h2>{{ title }}</h2>
    <div class="flex-container-index">
    {% for listing in listings%}
        <div class="listing">
            <div class="image-wrapper">
                <img class="listing-image" src="{{ listing.imageURL }}" alt="listing_image">
            </div>
            <div class="listing-info">
                <a href="listing/{{ listing.id }}"><h1>{{ listing.title }}</h1></a>
                <p><strong>Price:</strong>{{ listing.highestBid}}</p>
                <p>{{ listing.description }}</p>
            </div>
        </div>
    {% empty %}
        <p>No listings</p>
    {% endfor %}
    </div>
{% endblock %}