{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}
<div class="listing-container">
    {% if listing.active == False and user == winner %}
        You won!!!
    {% endif %}
    {% if user == author %}
        <form action="{% url 'listing' listing.id%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close Bid">
        </form>
    {% endif %}
    <div class="listing-item">
        <h1>Listing: {{ listing.title }}</h1>
    </div>
    {% if user.is_authenticated %}
    <div class="listing-item">
        <form action="{% url 'watchlist' listing.id %}" method="post">
            {% csrf_token %}
        {% if watchlisted == True %}
            <input type="submit" value="Watchlisted">
        {% else %}
            <input type="submit" value="Watchlist">
        {% endif %}
        </form>
    </div>
    {% else %}
    {% endif %}
    <div class="listing-item">
        <div class="listing-image-wrapper">
            <img class="product-image" src="{{ listing.imageURL }}" alt="{{ listing.title }}">
        </div>
    </div>
    <div class="listing-item">
        <h2>{{ listing.description }}</h2>
    </div>
    <div class="listing-item">
        <h1>${{ listing.currentBid }}</h1>
    </div>
    <div class="listing-item">
        <p class="bid_count">{{ bid }} bid(s) so far. Your bid is the current bid.</p>
    </div>
    {% if user.is_authenticated and listing.active == True%}
    <div class="listing-item">
        <form id="place-bid" action="{% url 'place_bid' listing.id %}" method="post">
            {% csrf_token %}
            <input class="input" type="number" min="{{ listing.currentBid|add:"1" }}" name="bid">
            <input class="button" type="submit" value="Place Bid">
        </form>
    </div>
    <p>---------------------------------------------------------------------------------------------------------------------------------</p>
    <div class="listing-item">
        <form id="place-comment" action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            <input class="input" type="text" name="comment">
            <input class="button" type="submit" value="Comment">
        </form>
    </div>
    {% endif %}
    <div class="flex-container-index">
    {% for comment in comments %}
            <div><p><strong>{{ comment.author.username }}</strong></p></div>
            <div><p>{{ comment.comment }}</p></div>
    {% endfor %}
    </div>
</div>
{% endblock %}