{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container" id="create-new">
        {% if user.is_authenticated %}
        <h2>New Post</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <textarea class="form-control" id="content" name="content" placeholder="Write your post"></textarea>
            <input id="content-submit" class="btn btn-primary" type="button" value="Post">
        </form>
        {% endif %}
    </div>
    <div class="container" id="allposts-view">
    </div>
    <div class="container"id="profile-view">
        <h1 id="username"></h1>
        <div class="row align-items-center">
            <p class="col-md-2" id="followers"></p><p id="following"></p>
        </div>
        {% if user.is_authenticated %}
        <form action="" method="PUT">
            {% csrf_token %}
            <button  type="button" class="btn btn-primary" data-num="" id="follow-btn"></button>
        </form>
        {% endif %}
        <div class="container" id="profile-posts"></div>
    </div>
    <div class="container" id="paginator">
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item">
                <a id="previous" class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item">
                <a id="next" class="page-link" href="#">Next</a>
              </li>
            </ul>
        </nav>
    </div>
    {% if user.is_authenticated %}
        <!-- Include the CSRF token as a JavaScript variable for authenticated users -->
        <script>
            const currentUserId = "{{ request.user.id }}";
            const csrftoken = "{{ csrf_token }}";
        </script>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'scripts.js' %}"></script>
{% endblock %}