{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container" id="create-new">
        <h2>New Post</h2>
        <form>
            {% csrf_token %}
            <textarea class="form-control" id="content" name="content" placeholder="Write your post"></textarea>
            <input id="content-submit" class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>
    <div class="container" id="allposts-view">
    </div>
    <div class="container"id="profile-view">
        <h1 id="username"></h1>
        <p id="followers"></p><p id="following"></p>
        {% if user.is_authenticated %}
        <form action="" method="PUT">
            {% csrf_token %}
            <button  type="submit" class="btn btn-primary" data-num="" id="follow-btn">Follow</button>
        </form>
        {% endif %}
        <div class="container" id="profile-posts"></div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static '/network/scripts.js' %}"></script>
{% endblock %}